<div class="ship-stato" data-application-part="stato">
    <label>{{localize "NAVAL.Scafo"}}</label>
    <input type="number" name="system.scafo.value" value="{{system.scafo.value}}">
    / <span>{{system.scafo.max}}</span>

    <label>{{localize "NAVAL.Vele "}}</label>
    <input type="number" name="system.vela.value" value="{{system.vela.value}}">
    / <span>{{system.vela.value}}</span>

    <label>{{localize "NAVAL.OrologioTimone"}}</label>
    <span>{{system.timone.orologio}} / {{system.timone.soglia}}</span>
</div>